@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Inter";
}
@media (max-width: 60.9375em) {
  .menu-open body {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 78.125rem;
  margin: 0 auto;
  padding: 0rem 0.9375rem;
}

.head-style > * {
  margin-bottom: 0.625rem;
}
.head-style > *:last-child {
  margin-bottom: 0rem;
}
.head-style div {
  color: #37393F;
  font-family: "Inter";
  font-size: clamp(1rem, 3vw, 1.125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FFF;
  font-weight: 600;
  line-height: 1.46;
  color: #37393F;
}
.head-style div::before {
  content: "";
  background-color: #40DDB6;
  width: 0.75em;
  height: 0.75em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75em;
          flex: 0 0 0.75em;
  margin-top: 0.375rem;
  margin-right: 0.375rem;
}
.head-style h2 {
  color: #FFF;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.21;
  color: #37393F;
  font-size: clamp(1.625rem, 5vw, 2.5rem);
}

.header__top {
  background-color: #37393F;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}
@media (max-width: 60.9375em) {
  .header__top {
    display: none;
  }
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}
@media (max-width: 61.99875em) {
  .top-header__container {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}
.top-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 61.99875em) {
  .top-header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.top-header__location, .top-header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.top-header__location img, .top-header__mail img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 1.375rem;
}
.top-header__mail {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .top-header__mail:hover {
    color: #40DDB6;
  }
}
.top-header__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 61.99875em) {
  .top-header__other {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.top-header__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-header__schedule img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 1.375rem;
}
.top-header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.top-header__social {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 1.0625rem;
  height: 1.0625rem;
}
.top-header__social img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
@media (any-hover: hover) {
  .top-header__social:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.header {
  border-bottom: 1px solid black;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
}
@media (max-width: 60.9375em) {
  .header__container {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 4.0625rem;
  }
}
@media (max-width: 37.5em) {
  .header__container {
    gap: 0.3125rem;
  }
}
.header__logo, .header__btn {
  position: relative;
  z-index: 5;
}
.header__logo img, .header__btn img {
  width: 12.5rem;
  height: 2.375rem;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 37.5em) {
  .header__actions {
    gap: 1.25rem;
  }
}
.header__btn {
  padding: 1.3125rem 2.1875rem;
  color: #FFF;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6B77E5;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 61.99875em) {
  .header__btn {
    padding: 0.75rem 1.25rem;
  }
}
@media (max-width: 37.5em) {
  .header__btn {
    font-size: 1rem;
    padding: 0.625rem 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .header__btn {
    display: none;
  }
}
@media (any-hover: hover) {
  .header__btn:hover {
    -webkit-box-shadow: inset 0 -6.25rem 0 0 #32129b;
            box-shadow: inset 0 -6.25rem 0 0 #32129b;
  }
}

@media (max-width: 60.9375em) {
  .menu__body {
    position: fixed;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(24%, rgb(36, 149, 107)), color-stop(51%, rgb(11, 175, 24)), color-stop(78%, rgb(117, 175, 80)));
    background: linear-gradient(0deg, rgb(36, 149, 107) 24%, rgb(11, 175, 24) 51%, rgb(117, 175, 80) 78%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 5rem 1.25rem 3.125rem 1.25rem;
    z-index: 3;
  }
  .menu__body .menu__content-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .menu__body .menu__content-burger > * {
    margin-bottom: 1.5625rem;
  }
  .menu__body .menu__content-burger > *:last-child {
    margin-bottom: 0rem;
  }
}
.menu-open .menu__body {
  bottom: 0;
}
.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 4.0625rem;
  top: -100%;
  left: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(34%, rgb(111, 204, 170)), color-stop(62%, rgb(195, 242, 180)));
  background: linear-gradient(0deg, rgb(111, 204, 170) 34%, rgb(195, 242, 180) 62%);
  border-bottom: 1px solid black;
}
.menu-open .menu__body::before {
  top: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.9375rem;
}
@media (max-width: 60.9375em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.875rem;
    margin-bottom: 1.875rem;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    text-decoration: underline;
  }
}
.menu__item--icon {
  position: relative;
}
@media (min-width: 60.9375em) {
  .menu__item--icon:hover .menu__link::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.menu__link {
  font-size: 1rem;
}
.menu__item--icon .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}
@media (max-width: 60.9375em) {
  .menu__item--icon .menu__link {
    display: block;
  }
}
.menu__item--icon .menu__link::after {
  content: "";
  background: url(../img/header/vector.svg) 0 0 no-repeat;
  width: 0.625rem;
  height: 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 60.9375em) {
  .menu__link {
    font-size: 1.25rem;
  }
  .sub-open .menu__link::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0rem, -10%);
      -ms-transform: translate(0rem, -10%);
          transform: translate(0rem, -10%);
  padding-top: 0.625rem;
}
@media (min-width: 60.9375em) {
  .menu__item--icon:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translate(0rem, 0rem);
        -ms-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
    z-index: 2;
  }
}
@media (max-width: 60.9375em) {
  .sub-menu {
    width: 100%;
  }
  .sub-open .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translate(0rem, 0rem);
        -ms-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
    position: relative;
  }
}
.sub-menu .sub-menu__list {
  background-color: #40DDB6;
  width: 10rem;
  padding: 0.9375rem;
  border-radius: 0.625rem;
}
@media (max-width: 60.9375em) {
  .sub-menu .sub-menu__list {
    width: 100%;
  }
}
.sub-menu .sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (any-hover: hover) {
  .sub-menu .sub-menu__item:hover .sub-menu__link {
    -webkit-transform: translateX(10%);
        -ms-transform: translateX(10%);
            transform: translateX(10%);
  }
}
.sub-menu .sub-menu__link {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.125rem;
}
.sub-menu .sub-menu__link:active {
  -webkit-transform: translateX(-12%);
      -ms-transform: translateX(-12%);
          transform: translateX(-12%);
}

.burger-menu .top-header__container {
  display: none;
}
@media (max-width: 60.9375em) {
  .burger-menu .top-header__container {
    display: block;
  }
}
@media (max-width: 60.9375em) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5;
    height: 2.625rem;
    width: 2.8125rem;
    background-color: #6B77E5;
  }
  .burger-menu::after, .burger-menu::before, .burger-menu span {
    content: "";
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 0.125rem;
    width: 75%;
    left: 0.375rem;
  }
  .burger-menu::after {
    top: 0.8125rem;
    background: linear-gradient(165deg, rgb(227, 235, 235) 26%, rgb(13, 65, 7) 86%);
  }
  .burger-menu::before {
    bottom: 0.8125rem;
    background: linear-gradient(165deg, rgb(227, 235, 235) 80%, rgb(13, 65, 7) 86%);
  }
  .burger-menu span {
    background: linear-gradient(165deg, rgb(227, 235, 235) 56%, rgb(13, 65, 7) 86%);
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .burger-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    margin-top: -0.0625rem;
    background: linear-gradient(165deg, rgb(13, 65, 7) 40%, rgb(227, 235, 235) 86%);
  }
  .menu-open .burger-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -0.0625rem;
    background: linear-gradient(165deg, rgb(13, 65, 7) 76%, rgb(227, 235, 235) 80%);
  }
  .menu-open .burger-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}
@media (max-width: 600px) {
  .burger-menu {
    height: 2.25rem;
    width: 2.1875rem;
  }
  .burger-menu::after, .burger-menu::before, .burger-menu span {
    width: 65%;
    left: 0.375rem;
  }
  .burger-menu::after {
    top: 0.625rem;
  }
  .burger-menu::before {
    bottom: 0.625rem;
  }
}

.menu__contacts, .menu__other {
  display: none;
  font-size: 1.25rem;
}
@media (max-width: 60.9375em) {
  .menu__contacts, .menu__other {
    display: block;
  }
  .menu__contacts > *, .menu__other > * {
    margin-bottom: 1.5625rem;
  }
  .menu__contacts > *:last-child, .menu__other > *:last-child {
    margin-bottom: 0rem;
  }
}
.menu__social img {
  width: 1.875rem;
  height: 1.875rem;
}
.menu__social:not(:last-child) {
  margin-right: 0.9375rem;
}

.menu__btn {
  padding: 1.3125rem 2.1875rem;
  color: #FFF;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgb(31, 66, 31);
  font-size: 1.0625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
}
@media (max-width: 29.99875em) {
  .menu__btn {
    display: block;
    margin-bottom: 0.9375rem;
  }
}

.page__hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100svh - 12.1875rem);
  margin-bottom: 8.75rem;
}
@media (max-width: 64em) {
  .page__hero {
    margin-bottom: 5.625rem;
  }
}
@media (max-width: 47.99875em) {
  .page__hero {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 29.99875em) {
  .page__hero {
    margin-bottom: 1.875rem;
  }
}

.hero__content {
  position: relative;
  z-index: 2;
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
  background-color: rgba(55, 57, 63, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.125%;
          flex: 0 0 43.125%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 42.5em) {
  .hero__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.hero__body {
  max-width: 38.4375rem;
  padding: 0.9375rem;
}
.hero__body > * {
  margin-bottom: 0.625rem;
}
.hero__body > *:last-child {
  margin-bottom: 0rem;
}
.hero__body h1 {
  color: #FFF;
  font-family: "Poppins";
  font-size: clamp(1.75rem, 3vw, 3.75rem);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}
.hero__body h1 span {
  color: #40DDB6;
  font-family: "Poppins";
  font-size: clamp(1.75rem, 3vw, 3.75rem);
  font-weight: 700;
  line-height: 1.1;
}
.hero__body p {
  color: #B9B9B9;
  font-family: "Inter";
  font-size: clamp(1rem, 3vw, 1.125rem);
  font-weight: 500;
  line-height: 1.46;
}
.hero__body p:not(:last-child) {
  margin-bottom: 2.1875rem;
}
.hero__sub {
  color: #37393F;
  font-family: "Inter";
  font-size: clamp(1rem, 3vw, 1.125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FFF;
  font-weight: 600;
  line-height: 1.46;
}
.hero__sub::before {
  content: "";
  background-color: #40DDB6;
  width: 0.75em;
  height: 0.75em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75em;
          flex: 0 0 0.75em;
  margin-top: 0.375rem;
  margin-right: 0.375rem;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 64em) {
  .hero__buttons {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.hero__link {
  padding: 1.3125rem 2.1875rem;
  color: #FFF;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #40DDB6;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #37393F;
  padding: 1.3125rem 1.6875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 61.99875em) {
  .hero__link {
    padding: 0.75rem 1.25rem;
  }
}
@media (max-width: 37.5em) {
  .hero__link {
    font-size: 1rem;
    padding: 0.625rem 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .hero__link {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .hero__link:hover {
    -webkit-box-shadow: inset 0 -6.25rem 0 0 #028648;
            box-shadow: inset 0 -6.25rem 0 0 #028648;
  }
}
.hero__btn-video {
  color: #FFF;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 47.99875em) {
  .hero__btn-video {
    font-size: 1rem;
  }
}
@media (max-width: 29.99875em) {
  .hero__btn-video {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.hero__btn-video span {
  position: relative;
}
@media (any-hover: hover) {
  .hero__btn-video span:hover {
    color: #028648;
  }
}
.hero__btn-video::before {
  content: "";
  cursor: pointer;
  background: url(../img/hero/btn_play.svg) 0 0 no-repeat;
  width: 3.75rem;
  height: 3.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
}
.hero__btn-video span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 0.0625rem;
  width: 100%;
  background-color: #fff;
}
@media (any-hover: hover) {
  .hero__btn-video:hover::before {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__wecare {
  margin-bottom: 6.25rem;
}
@media (max-width: 61.99875em) {
  .page__wecare {
    margin-bottom: 4.375rem;
  }
}
@media (max-width: 47.99875em) {
  .page__wecare {
    margin-bottom: 3.125rem;
  }
}

.wecare__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
}
@media (max-width: 64em) {
  .wecare__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .wecare__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.wecare__left {
  background: #F4F4F4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
}
.left-wecare {
  padding: 0rem 3.25rem 9.375rem 0rem;
}
.left-wecare > * {
  margin-bottom: 0.625rem;
}
.left-wecare > *:last-child {
  margin-bottom: 0rem;
}
@media (max-width: 61.99875em) {
  .left-wecare {
    padding: 0rem 1.875rem 1.25rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 39.375em) {
  .left-wecare {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 0rem 0rem 0.9375rem;
    text-align: center;
  }
}
.left-wecare__img {
  margin-bottom: 1.25rem;
}
.left-wecare__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 405/452;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 61.99875em) {
  .left-wecare__content {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 39.375em) {
  .left-wecare__content {
    padding: 0rem 0.625rem;
  }
}
.left-wecare__content > * {
  margin-bottom: 0.9375rem;
}
.left-wecare__content > *:last-child {
  margin-bottom: 0rem;
}
.left-wecare__content p {
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.46;
}
.left-wecare__title {
  color: #37393F;
  font-family: "Poppins";
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.21;
}
@media (max-width: 47.99875em) {
  .left-wecare__title {
    font-size: 1.625rem;
  }
}
.left-wecare__link {
  color: #37393F;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 0.125rem solid #37393F;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .left-wecare__link:hover {
    color: #6B77E5;
    border-bottom: 0.125rem solid #6B77E5;
  }
}

.right-wecare > * {
  margin-bottom: 0.625rem;
}
.right-wecare > *:last-child {
  margin-bottom: 0rem;
}
.right-wecare__head {
  margin-bottom: 1.25rem;
}
@media (max-width: 29.99875em) {
  .right-wecare__head {
    margin-bottom: 0.625rem;
  }
}
.right-wecare__content {
  margin-bottom: 1.25rem;
}
.right-wecare__content p {
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.46;
}
.right-wecare__content p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.right-wecare__list {
  margin-bottom: 2.6875rem;
}
@media (max-width: 47.99875em) {
  .right-wecare__list {
    margin-bottom: 1.875rem;
  }
}
.right-wecare__item {
  color: #37393F;
  font-family: "Poppins";
  font-size: clamp(1.0625rem, 2vw, 1.25rem);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.right-wecare__item img {
  width: 1.6875em;
  height: 1.6875em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.6875em;
          flex: 0 0 1.6875em;
  border-radius: 50%;
}
.right-wecare__item:not(:last-child) {
  margin-bottom: 1.4375rem;
}
.right-wecare__achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
  margin: 0 -0.625rem;
  margin-bottom: 2.3125rem;
}
@media (max-width: 35.625em) {
  .right-wecare__achievements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.25rem;
  }
}
.right-wecare__link {
  padding: 1.3125rem 2.1875rem;
  color: #FFF;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6B77E5;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 29.99875em) {
  .right-wecare__link {
    width: 100%;
    font-size: 1rem;
    padding: 0.625rem 0.625rem;
  }
}
@media (any-hover: hover) {
  .right-wecare__link:hover {
    -webkit-box-shadow: inset 0 -6.25rem 0 0 #32129b;
            box-shadow: inset 0 -6.25rem 0 0 #32129b;
  }
}

.achievements__experience {
  padding: 0 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.achievements__item {
  padding: 1.9375rem 2rem;
  border: 0.0625rem solid #E3E3E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: clamp(1.0625rem, 2vw, 1.25rem);
}
@media (max-width: 68.75em) {
  .achievements__item {
    padding: 1.25rem 1.25rem;
  }
}
@media (max-width: 35.625em) {
  .achievements__item {
    padding: 0.625rem 0.625rem;
  }
}
.achievements__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.0625rem;
          flex: 0 0 2.0625rem;
  aspect-ratio: 1/1;
}
.achievements__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.achievements__text p {
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.35;
}
.achievements__label {
  color: #37393F;
  font-family: "Poppins";
  font-weight: 600;
}
.achievements__label:not(:last-child) {
  margin-bottom: 0.625rem;
}
.achievements__winner {
  padding: 0 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.page__brands {
  margin-bottom: 5rem;
}
@media (max-width: 47.99875em) {
  .page__brands {
    margin-bottom: 3.75rem;
  }
}

.brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 39.375em) {
  .brands__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.brands__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: 10.6875rem;
}
.brands__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 39.375em) {
  .brands__item img {
    width: 75%;
    height: 75%;
  }
}

.page__expertise {
  margin-bottom: 8.125rem;
}
@media (max-width: 64em) {
  .page__expertise {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: 47.99875em) {
  .page__expertise {
    margin-bottom: 4.375rem;
  }
}
@media (max-width: 29.99875em) {
  .page__expertise {
    margin-bottom: 3.125rem;
  }
}

.expertise__head {
  margin-bottom: 2.5rem;
  text-align: center;
}
.expertise__head > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 29.99875em) {
  .expertise__head {
    margin-bottom: 1.5625rem;
  }
}
.expertise__row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1.6875rem;
}
.expertise__item {
  padding: 1.875rem;
  background: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
@media (max-width: 41.37375em) {
  .expertise__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 0.9375rem;
    padding: 0.9375rem;
  }
}
.expertise__btn {
  padding: 1.3125rem 2.1875rem;
  color: #FFF;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6B77E5;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5625rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (any-hover: hover) {
  .expertise__btn:hover {
    -webkit-box-shadow: inset 0 -12.5rem 0 0 #32129b;
            box-shadow: inset 0 -12.5rem 0 0 #32129b;
  }
}
@media (max-width: 47.99875em) {
  .expertise__btn {
    font-size: 1.375rem;
  }
}
@media (max-width: 29.99875em) {
  .expertise__btn {
    font-size: 1.1875rem;
  }
}

.item-expertise {
  font-size: clamp(1.25rem, 2vw, 1.5625rem);
}
.item-expertise__content {
  max-width: 11.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 41.37375em) {
  .item-expertise__content {
    max-width: 100%;
  }
}
.item-expertise__label {
  color: #37393F;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.27;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .item-expertise__label:hover {
    color: #6B77E5;
  }
}
.item-expertise__label:not(:last-child) {
  margin-bottom: 1.6875rem;
}
.item-expertise__link {
  color: #6B77E5;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.item-expertise__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #40DDB6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .item-expertise__link:hover::after {
    width: 100%;
  }
}
@media (max-width: 41.37375em) {
  .item-expertise__link {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.item-expertise__icon img {
  width: 2.875em;
  height: 2.875em;
  border-radius: 50%;
}

.page__provide {
  background-color: #37393F;
  position: relative;
  margin-bottom: 4.375rem;
}
@media (max-width: 76.875em) {
  .page__provide::before {
    content: "";
    background: url(../img/weprovide/img.webp) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-attachment: fixed;
    background-size: cover;
  }
}
@media (max-width: 47.99875em) {
  .page__provide {
    margin-bottom: 2.5rem;
  }
}

.provide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 76.875em) {
  .provide__container {
    position: relative;
    z-index: 2;
  }
}
.provide__body {
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  max-width: 40.625rem;
  padding: 8.5rem 0rem;
}
@media (max-width: 76.875em) {
  .provide__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .provide__body {
    padding: 5rem 0rem;
  }
}
@media (max-width: 29.99875em) {
  .provide__body {
    padding: 3.125rem 0rem;
  }
}
.provide__head {
  margin-bottom: 0.9375rem;
}
.provide__head div, .provide__head h2 {
  color: #fff;
}
.provide__content {
  row-gap: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.provide__content p {
  color: #FFF;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.46;
}
@media (max-width: 29.99875em) {
  .provide__content p {
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 0.125rem;
  }
}
.provide__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.4375rem;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 40.625rem;
}
.provide__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 76.875em) {
  .provide__img {
    display: none;
  }
}

.statistic__response, .statistic__project {
  padding: 0 0.4375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 39.375em) {
  .statistic__response, .statistic__project {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.statistic__item {
  padding: 1.6875rem 1.875rem;
  background: #2E2F34;
}

.item-statictic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
.item-statictic__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  aspect-ratio: 1/1;
}
.item-statictic__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.item-statictic__text > * {
  margin-bottom: 0.625rem;
}
.item-statictic__text > *:last-child {
  margin-bottom: 0rem;
}
.item-statictic__text p {
  color: #FFF;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.35;
}
.item-statictic__label {
  color: #FFF;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 600;
}

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.3125rem;
     -moz-column-gap: 2.3125rem;
          column-gap: 2.3125rem;
  row-gap: 1.25rem;
}
@media (max-width: 29.99875em) {
  .points {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.left-points > *, .right-points > * {
  margin-bottom: 1.4375rem;
}
.left-points > *:last-child, .right-points > *:last-child {
  margin-bottom: 0rem;
}
.left-points__active, .right-points__quantity, .left-points__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-family: "Inter";
  font-size: 1.25rem;
  font-weight: 400;
}
.left-points__active span, .right-points__quantity span, .left-points__reviews span {
  font-weight: 700;
}
.left-points .left-points__icon, .right-points .left-points__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.75rem;
          flex: 0 0 1.75rem;
  width: 1.75rem;
  height: 1.6875rem;
}

.gold {
  color: #FFB342;
}

.star {
  margin-top: 2%;
  width: 1.0625rem;
  height: 1.0625rem;
}

.right-points__quantity img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.75rem;
          flex: 0 0 1.75rem;
  width: 1.75rem;
  height: 1.6875rem;
}
.right-points__link {
  color: #40DDB6;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 2px solid #40DDB6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .right-points__link:hover {
    color: #028648;
    border-bottom: 2px solid #028648;
  }
}

.footer {
  background-color: #37393F;
  padding: 1.875rem 0rem;
}
.footer__container {
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
}