/* CAUSTEN============================================================= */
@font-face {
	font-family: "Causten";
	src: 
			url(../fonts/causten/Causten-Bold.woff) format(woff),
			url(../fonts/causten/Causten-Bold.woff2) format(woff2);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Causten";
	src: 
			url(../fonts/causten/Causten-Semi-Bold.woff) format(woff),
			url(../fonts/causten/Causten-Semi-Bold.woff2) format(woff2);
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Causten";
	src: 
			url(../fonts/causten/Causten-Medium.woff) format(woff),
			url(../fonts/causten/Causten-Medium.woff2) format(woff2);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Causten";
	src: 
			url(../fonts/causten/Causten-Regular.woff) format(woff),
			url(../fonts/causten/Causten-Regular.woff2) format(woff2);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/* CORE SANS C================================================================== */
@font-face {
	font-family: "Core Sans C";
			src: url(../fonts/coreSansC/CoreSansC-55Medium.woff) format(woff);
			src: url(../fonts/coreSansC/CoreSansC-55Medium.woff2) format(woff2);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Core Sans C";
			src: url(../fonts/coreSansC/CoreSansC-65Bold.woff) format(woff);
			src: url(../fonts/coreSansC/CoreSansC-65Bold.woff2) format(woff2);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Core Sans C";
			src: url(../fonts/coreSansC/CoreSansC-75ExtraBold.woff) format(woff);
			src: url(../fonts/coreSansC/CoreSansC-75ExtraBold.woff2) format(woff2);
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}