@import "_fonts.scss";
@import "_reset.scss";
@import "_mixin.scss";
// ================================================================================================

$mainFont: "Causten", sans-serif;
$alternativeFont: "Core Sans C", sans-serif;
$colorWhite: #fff;
$colorBlack: #3c4242;
$colorGray: #7f7f7f;
$tablet: 991.98px;
$burger: 980px;
$mobile: 767.98px;
$adaptiveValue: 600px;

// -------------------------------
body {
	font-family: $mainFont;
	@media (max-width: $burger) {
		.menu-open & {
			overflow: hidden;
		}
	}
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px;
}
// ===========================================================================
.header {
	&--fixed {
		margin-bottom: 10px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
		min-height: 100px;
		padding-top: 5px;
		padding-bottom: 5px;
		@media (max-width: $burger) {
			min-height: 55px;
		}
	}

	&__logo {
		position: relative;
		z-index: 4;
	}

	&__icons {
		display: flex;
		gap: 12px;
		align-items: center;
		@extend .header__logo;
	}

	&__icon {
		padding: 12px;
		background: #f6f6f6;
		border-radius: 8px;
		transition: all 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
		& img {
			transition: all 0.3s;
		}
		&:hover {
			background: #e0dfdf;
		}
		&:hover {
			& img {
				transform: scale(1.2);
			}
		}
		@media (max-width: 600px) {
			width: 36px;
			height: 36px;
		}
	}
}
.menu {
	@media (max-width: $burger) {
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background: #7eeaee;
		transition: all 0.3s;
		padding: 100px 20px 40px 20px;
		z-index: 3;
		.menu-open & {
			left: 0;
		}
		&::before {
			content: "";
			position: fixed;
			width: 100%;
			height: 55px;
			top: 0;
			left: 100%;
			z-index: 3;
			background-color: #36acb4;
			transition: all 0.3s;
		}
		.menu-open &::before {
			left: 0;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 40px;
		row-gap: 5px;
		@media (max-width: 1200px) {
			column-gap: 20px;
		}
		@media (max-width: $burger) {
			flex-direction: column;
			row-gap: 30px;
			text-align: center;
			margin-bottom: 50px;
		}
	}

	&__item {
		color: $colorGray;
		font-size: 22px;
		font-weight: 500;
		@media (any-hover: hover) {
			&:hover .menu__link {
				&::after {
					left: 0;
					width: 100%;
				}
			}
		}
		&--active {
			color: $colorBlack;
			font-size: 22px;
			font-weight: 700;
		}
	}

	&__link {
		@include hover_link;
		@media (max-width: $burger) {
			font-size: 25px;
		}
	}
}
.form-list {
	display: none;

	&__input {
		@extend .form__input;
		&::placeholder {
			color: $colorGray;
			font-size: 16px;
			font-weight: 400;
		}
	}
	@media (max-width: 600px) {
		display: block;
		position: relative;
	}
	& button {
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
	}
}
.form {
	position: relative;
	z-index: 3;
	@media (max-width: 1200px) {
		flex: 0 1 200px;
	}
	@media (max-width: 600px) {
		display: none;
	}
	&__input {
		border-radius: 8px;
		background: #f6f6f6;
		padding: 12px 52px;
		height: 44px;
		width: 100%;
		border-radius: 8px;
		@media (max-width: 600px) {
			height: 36px;
		}
	}
	& button {
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
	}
}
.burger-menu {
	display: none;
	@media (max-width: $burger) {
		display: block;
		width: 44px;
		position: relative;
		z-index: 2;
		flex: 0 1 44px;
		height: 44px;
		background-color: #f6f6f6;
		padding: 12px;
		border-radius: 8px;
		&::after,
		&::before,
		& span {
			content: "";
			position: absolute;
			left: 7px;
			width: 70%;
			height: 2px;
			background-color: $colorGray;
			transition: all 0.3s;
		}
		&::after {
			bottom: 13px;
		}
		&::before {
			top: 13px;
		}
		& span {
			top: 50%;
			margin-top: -1px;
			background-color: #960db8;
		}
		.menu-open &::after {
			transform: rotate(45deg);
			bottom: 50%;
			margin-bottom: -1px;
		}
		.menu-open &::before {
			transform: rotate(-45deg);
			top: 50%;
			margin-top: -1px;
		}
		.menu-open & span {
			transform: scale(0);
		}
	}
	@media (max-width: 600px) {
		width: 36px;
		height: 36px;
		&::after,
		&::before,
		& span {
			left: 6px;
		}
		&::after {
			bottom: 10px;
		}
		&::before {
			top: 10px;
		}
	}
}
// ===============================================================================================
.page {
	&__hero {
		display: flex;
		margin-bottom: 130px;
		@media (max-width: 1024px) {
			margin-bottom: 60px;
		}
		@media (max-width: 600px) {
			margin-bottom: 20px;
		}
	}
	// ---------------------
	&__discount {
		margin-bottom: 100px;
	}

	// ------------------------------
	&__arrival {
		margin-bottom: 95px;
	}
	// --------------------------------
	&__zone {
		margin-bottom: 150px;
	}
	// ----------------------------------
	&__brands {
		margin-bottom: 80px;
	}
	// ----------------------------------
	&__fashion,
	&__men,
	&__women,
	&__limelight {
		margin-bottom: 100px;
	}
	&__feedback {
		margin-bottom: 140px;
	}

	&__discount,
	&__arrival,
	&__zone,
	&__fashion,
	&__men,
	&__women,
	&__brands,
	&__limelight,
	&__feedback {
		@media (max-width: 1024px) {
			margin-bottom: 60px;
		}
		@media (max-width: 600px) {
			margin-bottom: 20px;
		}
	}
}
.hero {
	position: relative;
	min-height: 100vh;
	@media (max-width: 1024px) {
		padding: 50px;
	}
	@media (max-width: 700px) {
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(0, 0, 0, 0.4);
			animation: approach 4s ease-in-out;
		}
	}
	@media (max-width: 600px) {
		padding: 0px;
	}
	&__back {
		& img {
			@include absolute;
			animation: approach 4s ease-in-out;
			@keyframes approach {
				0% {
					opacity: 0;
				}
				20% {
					opacity: 0.2;
				}
				40% {
					opacity: 0.4;
				}
				60% {
					opacity: 0.6;
				}
				80% {
					opacity: 0.8;
				}
				100% {
					opacity: 1;
				}
			}
			@media (max-width: 1024px) {
				object-position: 75% 0%;
			}
		}
	}
	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		flex: 1 1 auto;
	}

	&__content {
		max-width: 439px;
		> * {
			margin-bottom: 40px;
		}
		> *:last-child {
			margin-bottom: 0px;
		}
		@media (max-width: 600px) {
			> * {
				margin-bottom: 20px;
			}
		}

		& h5 {
			color: $colorWhite;
			font-family: $alternativeFont;
			font-size: 32px;
			font-weight: 500;
			line-height: 1.18;
			letter-spacing: 0.157px;
			text-transform: capitalize;
			@media (max-width: 1024px) {
				font-size: 26px;
			}
			@media (max-width: 600px) {
				font-size: 22px;
			}
		}
		& h1 {
			color: $colorWhite;
			font-family: $alternativeFont;
			font-size: 78px;
			font-weight: 800;
			line-height: 1.2;
			letter-spacing: 0.315px;
			@media (max-width: 1024px) {
				font-size: 60px;
			}
			@media (max-width: 600px) {
				font-size: 44px;
			}
		}
		& h4 {
			@extend h5;
			line-height: 1.47;
			letter-spacing: 0.315px;
		}
		@media (max-width: 1024px) {
			font-size: 26px;
		}
		@media (max-width: 600px) {
			font-size: 22px;
		}
	}

	&__link {
		@include btn;
		animation: left 3s ease-in;
		@media (any-hover: hover) {
			&:hover {
				box-shadow:
					6px 6px 12px #a7a7a8,
					6px 6px 12px #e1dae2;
			}
		}

		@media (max-width: 600px) {
			padding: 10px 30px;
			font-size: 20px;
			width: 100%;
			text-align: center;
		}
		@keyframes left {
			0% {
				transform: translateX(-800%);
			}
			100% {
				transform: translateX(0%);
			}
		}
	}
}
// DISCOUNT=============================================================================================

.discount {
	&__container {
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 30px;
		row-gap: 20px;
		@media (max-width: 1024px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
	}
}
.item-discount {
	position: relative;
	padding: 57px 0px 55px 28px;
	@media (max-width: 600px) {
		padding: 20px 10px;
	}
	&--shadow {
		box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
		border-radius: 12px;
	}

	&__img {
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 12px;

			@media (max-width: 1024px) {
				object-position: top;
			}
		}
	}

	&__content {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		align-items: flex-start;
	}

	&__text {
		margin-bottom: 42px;
		flex-grow: 1;
		> * {
			margin-bottom: 10px;
		}
		> *:last-child {
			margin-bottom: 0px;
		}
		& h3 {
			color: #fff;
			font-size: 18px;
			font-weight: 800;
			line-height: 1.67;
			letter-spacing: 0.251px;
			margin-bottom: 25px;
			@media (max-width: $mobile) {
				font-size: 16px;
			}
		}
		& h2 {
			color: #fff;
			font-family: $alternativeFont;
			font-size: 34px;
			font-weight: 800;
			line-height: 1.32;
			@media (max-width: $mobile) {
				font-size: 23px;
			}
		}
		& p {
			color: #fff;
			font-family: $alternativeFont;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 1.56;
			letter-spacing: 0.251px;
			animation: color 3s ease infinite;
			@keyframes color {
				0% {
					color: #fff;
				}
				50% {
				}
				100% {
					color: black;
					transform: scale(1.1);
				}
			}
		}
	}

	&__link {
		color: #fff;
		font-family: $alternativeFont;
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: 1.5;
		transition: all 0.3s;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #fff;
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #151616;
				&::after {
					width: 0;
				}
			}
		}
	}
}
// ARRIVAL=========================================================================================
.arrival {
	&__container {
	}

	&__title {
		@include title;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		gap: 39px;
		@media (max-width: 600px) {
			grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
			gap: 20px;
		}
	}

	&__item {
	}
}
.item-arrival {
	display: flex;
	flex-direction: column;
	> * {
		margin-bottom: 32px;
	}
	> *:last-child {
		margin-bottom: 0px;
	}
	@media (max-width: $mobile) {
		> * {
			margin-bottom: 20px;
		}
	}
	@media (max-width: 600px) {
		> * {
			margin-bottom: 12px;
		}
	}
	&__img {
	}

	&__link {
		display: flex;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			transition: all 0.3s;
			background-color: rgba(30, 29, 29, 0.6);
			border-radius: 12px;
			visibility: hidden;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					height: 100%;
					visibility: visible;
				}
			}
			&:hover .item-arrival__check {
				visibility: visible;
			}
		}
		& img {
			width: 100%;
			height: 100%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			border-radius: 12px;
		}
	}

	&__check {
		visibility: hidden;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 20px;
		letter-spacing: 2.5px;
		text-decoration: underline;
	}

	&__label {
		color: $colorBlack;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.2px;
		position: relative;
		align-self: flex-start;
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 0;
			height: 2px;
			background-color: #8a33fd;
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
}
// BIG ZONE=======================================================================================================
.zone {
	&__container {
	}

	&__title {
		@include title;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: 393px;
		gap: 20px;
	}

	&__item {
		position: relative;
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		@media (max-width: 1120px) {
			grid-column: span 3;
		}
		@media (max-width: $mobile) {
			grid-column: span 6;
		}
		@media (any-hover: hover) {
			&:hover {
				& .zone__btn--arrowwhite::before,
				& .zone__btn--arrowblack::before {
					animation: arrow 2s ease-in infinite;
				}
			}
		}
		&--hawaiian,
		&--printed,
		&--joggers {
			@media (max-width: 1120px) {
				& img {
					object-position: top;
				}
			}
		}
		&--hawaiian {
			padding: 65px 0px 65px 20px;
			& h2:not(:last-child) {
				margin-bottom: 10px;
			}
			& .zone__sub {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}

		&--white {
			color: $colorWhite;
		}

		&--printed {
			padding: 35px 20px;
			text-align: right;
			align-items: flex-end;
			& h2:not(:last-child) {
				margin-bottom: 15px;
			}
			& .zone__sub {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}

		&--joggers {
			padding: 65px 20px;
			align-items: flex-end;
			& h2:not(:last-child) {
				margin-bottom: 10px;
			}
			& .zone__sub {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
			@media (max-width: 460px) {
				& img {
					object-position: left;
				}
			}
		}

		&--black {
			color: $colorBlack;
		}

		&--urban,
		&--oversize {
			grid-column: span 3;
			padding: 45px 120px 51px 0px;
			align-items: flex-end;

			& h2:not(:last-child) {
				margin-bottom: 12px;
			}
			& .zone__sub {
				&:not(:last-child) {
					margin-bottom: 11px;
				}
			}
			@media (max-width: $tablet) {
				padding: 65px 40px;
				& img {
					object-position: left;
				}
			}
			@media (max-width: $mobile) {
				grid-column: span 6;
			}
		}
		&--urban,
		&--oversize,
		&--joggers {
			@media (max-width: 460px) {
				& img {
					opacity: 0.5;
				}
			}
		}
	}

	&__img {
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 12px;
		}
	}

	&__body {
		position: relative;
		max-width: 160px;
		z-index: 3;
		& p {
			font-size: 18px;
			font-weight: 700;
			&:not(:last-child) {
				margin-bottom: 94px;
			}
		}
	}

	&__link-title {
		font-family: $alternativeFont;
		font-size: 28px;
		font-weight: 600;
		line-height: 1.37;
		letter-spacing: 0.56px;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__sub {
		font-size: 14px;
		font-weight: 600;
	}

	&__btn {
		border-radius: 4px;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
		padding: 10px 24px;
		transition: all 0.3s;
		position: relative;
		&--white {
			border: 1px solid #fff;
			color: $colorWhite;
			@media (any-hover: hover) {
				&:hover {
					background-color: $colorWhite;
					color: $colorBlack;
				}
			}
		}
		&--black {
			border: 2px solid #3c4242;
			@media (any-hover: hover) {
				&:hover {
					background-color: $colorWhite;
				}
			}
		}

		&--arrowwhite {
			&::before {
				content: "";
				position: absolute;
				pointer-events: none;
				top: -50px;
				left: 40%;
				width: 20px;
				height: 23px;
				background: url(../img/bigzone/arrow.svg) 50% / cover no-repeat;
				@keyframes arrow {
					0% {
						transform: translateY(0%);
					}
					50% {
						transform: translateY(50%);
					}
					100% {
						transform: translateY(0%);
					}
				}
			}
		}

		&--arrowblack {
			&::before {
				content: "";
				position: absolute;
				pointer-events: none;
				top: -50px;
				left: 40%;
				width: 20px;
				height: 23px;
				background: url(../img/bigzone/arrow-black.svg) 50% / cover no-repeat;
				@keyframes arrow {
					0% {
						transform: translateY(0%);
					}
					50% {
						transform: translateY(50%);
					}
					100% {
						transform: translateY(0%);
					}
				}
			}
		}
	}

	&__button {
		transition: all 0.3s;
		border-radius: 4px;
		padding: 8px 12px;
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 28px;
		background-color: $colorBlack;
		@media (any-hover: hover) {
			&:hover {
				background-color: $colorWhite;
				color: $colorBlack;
				outline: 1px solid black;
			}
		}
		&--black {
		}
	}
}
// EVERYDAY BETTER FASHION========================================================================================
.fashion {
	&__container {
		display: flex;
		align-items: stretch;
		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

	&__left {
		flex: 0 1 50%;
	}

	&__right {
		flex: 0 1 50%;
		aspect-ratio: 626 / 639;

		& img {
			// position: absolute;
			// top: 0;
			// left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
		}
	}
}
.left-fashion {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 180px 75px;
	@media (max-width: 1024px) {
		padding: 120px 50px;
	}
	@media (max-width: 600px) {
		padding: 100px 20px;
	}

	&__img {
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
		color: $colorWhite;
		max-width: 466px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		> * {
			margin-bottom: 30px;
		}
		> *:last-child {
			margin-bottom: 0px;
		}
		& h2 {
			font-family: $alternativeFont;
			font-size: 34px;
			font-weight: 800;
			line-height: 1.47;
			letter-spacing: 0.208px;
			@media (max-width: 1024px) {
				font-size: 26px;
			}
			@media (max-width: $mobile) {
				font-size: 22px;
			}
		}
		& p {
			font-size: 20px;
			font-weight: 300;
			letter-spacing: 1px;
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
	}
}
.fashion-btn {
	@include btn($colorBlack, 8px, 12px 44px, none, 600, 18px);
	@media (any-hover: hover) {
		&:hover {
			outline: 1px solid #fff;
			background-color: black;
			color: $colorWhite;
		}
	}
	@media (max-width: $mobile) {
		padding: 8px 25px;
	}
	@media (max-width: 424.98px) {
		width: 100%;
		text-align: center;
	}
}
// CATEGORIES FOR MEN===============================================================================================

.men {
	&__container {
	}

	&__title {
		@include title;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 50px;
		@media (max-width: 1024px) {
			gap: 30px;
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(3, 1fr);
			gap: 15px;
		}
		@media (max-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__item {
	}
}
.item-men {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	> * {
		margin-bottom: 15px;
	}
	> *:last-child {
		margin-bottom: 0px;
	}
	&--one {
		order: 1;
	}
	&--two {
		order: 2;
		@media (max-width: 330px) {
			order: 6;
		}
	}
	&--three {
		order: 3;
	}
	&--four {
		order: 4;
	}
	&--five {
		order: 5;
	}
	&--six {
		order: 6;
	}
	&--seven {
		order: 7;
	}
	&--eight {
		order: 8;
	}

	&__img {
		display: block;
		position: relative;
		// &::before{
		// 	@extend .item-arrival__link, ::before;
		// 	@media(any-hover:hover){
		// 		&:hover .item-men__sub{
		// 			visibility: visible;
		// 		}
		// 	}
		// }
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			transition: all 0.3s;
			background-color: rgba(30, 29, 29, 0.6);
			border-radius: 12px;
			visibility: hidden;
		}
		@media (any-hover: hover) {
			&:hover .item-men__sub {
				visibility: visible;
			}
			&:hover {
				&::before {
					height: 100%;
					visibility: visible;
				}
			}
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 270 / 393;
			border-radius: 10px;
		}
	}
	&__sub {
		@extend .item-arrival__check;
	}

	&__label {
		> * {
			margin-bottom: 5px;
		}
		> *:last-child {
			margin-bottom: 0px;
		}
		display: flex;
		gap: 10px;
		flex-grow: 1;
	}

	&__text {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		flex-grow: 1;
		& p {
			color: #7f7f7f;
			font-size: 13.407px;
			font-weight: 500;
			line-height: 2.08;
			letter-spacing: -0.536px;
		}
	}
	& h3 {
		flex-grow: 1;
	}
	&__link-title {
		color: #2a2f2f;
		font-size: 17.875px;
		font-weight: 700;
		line-height: 1.56;
		letter-spacing: -0.715px;
		position: relative;

		&::after {
			@extend .item-arrival__label, ::after;
		}
	}

	&__arrow-block {
		flex: 0 0 20px;
		display: flex;
		@media (any-hover: hover) {
			&:hover .item-men__arrow {
				animation: arrow_aside 1.5s ease-in-out infinite;
			}
		}
	}

	&__arrow {
		background: url(../img/categories_men/arrow_1.svg) center / contain no-repeat;
		height: 14px;
		flex: 0 0 20px;
		@keyframes arrow_aside {
			0% {
				transform: translateX(0%);
			}
			50% {
				transform: translateX(-35%);
			}
			100% {
				transform: translateX(0%);
			}
		}
	}
}
// CATEGORIES FOR WOMEN=============================================================================================
.women {
	&__container {
	}

	&__title {
		@include title;
	}

	&__row {
		@extend .men__row;
	}

	&__item {
	}
}
.item-women {
	@extend .item-men;

	&__img {
		display: flex;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			transition: all 0.3s;
			background-color: rgba(30, 29, 29, 0.6);
			border-radius: 12px;
			visibility: hidden;
		}
		@media (any-hover: hover) {
			&:hover .item-men__sub {
				visibility: visible;
			}
			&:hover {
				&::before {
					height: 100%;
					visibility: visible;
				}
			}
		}
		// &::before{
		// 	@extend .item-men__img, ::before;
		// }
		// @media(any-hover:hover){
		// 	&:hover .item-men__sub{
		// 		visibility: visible;
		// 	}
		// 	&:hover{
		// 		&::before{
		// 			height: 100%;
		// 			visibility: visible;
		// 		}
		// 	}
		// }

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 270 / 393;
			border-radius: 10px;
		}
	}

	&__sub {
		@extend .item-men__sub;
	}

	&__label {
		@extend .item-men__label;
	}

	&__text {
		@extend .item-men__text;
		& p {
			color: #7f7f7f;
			font-size: 13.407px;
			font-weight: 500;
			line-height: 2.08;
			letter-spacing: -0.536px;
		}
	}

	&__link-title {
		@extend .item-men__link-title;
	}

	&__arrow-block {
		@extend .item-men__arrow-block;
	}

	&__arrow {
		@extend .item-men__arrow;
	}
}
// BRANDS=============================================================================================

.brands {

		&__container {
		border-radius: 12px;
		border: 1.069px solid var(--Dark-Grey---Fashion, #323232);
		background: #3C4242;
		color: $colorWhite;
		padding-top: 45px;
		padding-bottom: 72px;
		@media(max-width:$mobile){
			padding-top: 25px;
			padding-bottom: 40px;
		}
		@media(max-width:600px){
			padding-top: 15px;
			padding-bottom: 15px;
		}
		}

		&__title {
		text-align: center;
		font-family: $alternativeFont;
		font-size: 50px;
		font-weight: 800;
		&:not(:last-child){
			margin-bottom: 25px;
		}
		@media(max-width:$tablet){
			font-size: 44px;
		}
		@media(max-width:$mobile){
			font-size: 38px;
		}
		@media(max-width:600px){
			font-size: 26px;
			&:not(:last-child){
				margin-bottom: 15px;
			}
		}
		}
		& p{
		&:not(:last-child){
			margin-bottom: 67px;
		}
		text-align: center;
		font-size: 22px;
		font-weight: 400;
		@media(max-width:$mobile){
			font-size: 19px;
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}
		}
		&__styled{
		color: #FBD103;
		font-size: 22px;
		font-weight: 700;
		@media(max-width:$mobile){
			font-size: 19px;
		}
		}
		&__row {
			display: flex;
			flex-wrap: wrap;
			gap: 25px;
			justify-content: center;
			align-items: center;
			@media(max-width:$mobile){
				gap: 15px;
			}
		}

		&__img {
			align-items: flex-start;
			flex-grow: 0;
			@media(max-width:600px){
				width: 120px;
				height: 60px;
			}
			& img{
				border-radius: 12px;
				width: 100%;
				height: 100%;
				aspect-ratio: 177 / 85;
				object-fit: cover;
			}
		}

}
// LIMELIGHT==============================================================================================

.limelight {

	&__container {
	}

	&__title {
		@include title;
	}

	&__row {
		@extend .women__row;
		gap: 36px;
		@media(max-width:600px){
			gap: 15px;
		}
		@media(max-width:424.98px){
			grid-template-columns: repeat(1, 1fr);
			row-gap: 30px;
		}
	}

	&__item {
	}
}
.item-limelight {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	>*{
		margin-bottom: 30px;
	}
	>*:last-child{
		margin-bottom: 0px;
	}
	position: relative;

	&__img {
		
	
		& img{
			width: 100%;
			height: 100%;
			aspect-ratio: 282 / 370;
			object-fit: cover;
		}
	}

	&__label {
		display: flex;
		gap: 10px;
		flex-grow: 1;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__text {
		display: flex;
		height: 100%;
		flex-direction: column;
		& h3{
			flex-grow: 1;
		}
		>*{
			margin-bottom: 5px;
		}
		>*:last-child{
			margin-bottom: 0px;
		}
	}

	&__link-title {
		color: $colorBlack;
		font-size: 16px;
		font-weight: 600;
		position: relative;
		&::after{
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 0;
			height: 2px;
			transition: all .3s;
			background-color: #8a33fd;
		}
		@media(any-hover:hover){
			&:hover{
				&::after{
					width: 100%;
				}
			}
		}
	
	}

	&__price {
		border-radius: 8px;
		background: #F6F6F6;
		justify-content: center;
		align-items: center;
		text-align: center;
		display: flex;
		color: $colorBlack;
		font-size: 14px;
		font-weight: 700;
		flex: 0 0 80px;
		padding: 10px;
		transition: all .3s;
		@media(any-hover:hover){
			&:hover{
				outline: 1px solid black;
				background-color: $colorBlack;
				color: $colorWhite;
			}
		}
	}

	&__button {
		position: absolute;
		top: 6%;
		right: 7%;
		background: url(../img/limelight/1.svg) center no-repeat;
		width: 32px;
		height: 32px;
		transition: all .3s;
		@media(any-hover:hover){
			&:hover{
				transform: scale(1.1);
			}
		}
	}
}
// FEEDBACK ==================================================================================================

.feedback {

	// .feedback__container

	&__container {
	}

	// .feedback__title

	&__title {
		@include title;
	}

	// .feedback__row

	&__row {
		
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		gap: 23px;
		@media(max-width:600px){
			gap: 15px;
		}
	}

	// .feedback__card

	&__card {
	
	}

	// .feedback__item

	&__item {
		padding: 23px;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		border-radius: 10px;
		border: 1.8px solid #BEBCBD;
		@media(max-width:600px){
			padding: 10px;
		}
	}
}
.item-feedback {

	// .item-feedback__head

	&__head {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		margin-bottom: 20px;
		@media(max-width:600px){
			margin-bottom: 10px;
		}
	}

	// .item-feedback__user

	&__user {
		>*{
			margin-bottom: 20px;
		}
		>*:last-child{
			margin-bottom: 0px;
		}
		@media(max-width:600px){
			>*{
				margin-bottom: 10px;
			}
		}
		& h3{
			@media(any-hover:hover){
				&:hover .item-feedback__link{
					text-decoration: underline;
				}
			}
		}
		
	}

	// .item-feedback__img

	&__img {
		max-width: 58px;
		max-height: 58px;
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 1 / 1;
		}
	}

	// .item-feedback__link

	&__link {
		color: $colorBlack;
		font-family: $alternativeFont;
		font-size: 22px;
		font-weight: 500;
		letter-spacing: 0.44px;
		@media(max-width:600px){
			font-size: 18px;
		}
	}

	// .item-feedback__stars

	&__stars {
	}

	// .item-feedback__text

	&__text {
		color: #807D7E;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.28px;
	}
}
// FOOTER ===============================================================================================
.footer {
	background-color: $colorBlack;
	padding-top: 59px;
	padding-bottom: 59px;
	color: $colorWhite;
	@media(max-width:$tablet){
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@media(max-width:600px){
		padding-top: 15px;
		padding-bottom: 15px;
	}
	// .footer__container

	&__container {
	}

	// .footer__main

	&__main {
		display: grid;
		// grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		column-gap: 80px;
		row-gap: 40px;
		margin-bottom: 10px;
		@media(min-width:$mobile){
			padding: 0px 85px;
		}
		@media(max-width:$mobile){
			column-gap: 40px;
		}
		@media(max-width:600px){
			row-gap: 20px;
		}
	}
	&__apps {
	
		@media(min-width:$mobile){
			padding: 0px 85px;
			
		}
	}
	&__copy {
		font-size: 18px;
		font-weight: 700;
		line-height: 2; 
	}

}
.main-footer {

	// .main-footer__column

	&__column {
		&--span{
			grid-column: span 2;
		}
	}

	// .main-footer__title

	&__title {
		font-size: 28.579px;
		font-weight: 700;
		line-height: 2.16;
		margin-bottom: 15px;
		@media(max-width:$mobile){
			font-size: 22px;
			margin-bottom: 10px;
		}
	}

	// .main-footer__list

	&__list {
	}

	// .main-footer__item

	&__item {
		transition: all .3s;
		&:not(:last-child){
			margin-bottom: 5px;
		}
		@media(any-hover:hover){
			&:hover .main-footer__link{
				text-decoration: underline;
			}
		}
	}

	// .main-footer__link

	&__link {
		font-size: 18px;
		font-weight: 500;
		line-height: 216.9%; 
		position: relative;
		transition: all .3s;
		text-decoration: underline transparent;
		
	}
}

// ======================================
.apps {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 50px;
	@media(max-width:600px){
		flex-direction: column-reverse;
		row-gap: 30px;
		margin-bottom: 20px;
	}

	// .apps__row

	&__row {
		align-self: flex-end;
		display: flex;
		gap: 10px;
		@media(max-width:600px){
			align-self: flex-start;
			
		}
	}

	// .apps__icon

	&__icon {
		@media(any-hover:hover){
			&:hover{
				& img{
					transform: scale(1.1);
				}
			}
		}
		& img{
			transition: all .3s;
			
		}
	}


	// .apps__download

	&__download {
		& h3{
			margin-bottom: 20px;
			font-size: 28.579px;
			font-weight: 700;
			line-height: 2.16;
			@media(max-width:$mobile){
				font-size: 22px;
			}
		}
	}

	// .apps__items

	&__items {
		display: flex;
		gap: 21px;
	}

	// .apps__item

	&__item {
		@media(any-hover:hover){
			&:hover{
				& img{
					transform: scale(1.1);
				}
			}
		}
		& img{
			transition: all .3s;
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 153 / 51;
		}
	}
}
// ===========================================================

.spoiler {
	border-top: 1px solid #BEBCBD;
	border-bottom: 1px solid #BEBCBD;
	padding: 30px 85px;
	margin-bottom: 37px;
	@media(max-width:$mobile){
		padding: 15px 40px;
		margin-bottom: 15px;
	}
	@media(max-width:600px){
		padding: 5px 0px;
	}
	&__title {
		cursor: pointer;
		font-size: 28.579px;
		font-weight: 700;
		line-height: 2;
		position: relative;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
		@media(max-width:$mobile){
			font-size: 22px;
			justify-content: stretch;
		}
		@media(max-width:600px){
			font-size: 19px;
		}
		
		&::after{
			content: "";
			background: url(../img/footer/icon.svg) 0 0 no-repeat;
			width: 21px;
			height: 11px;
			transition: all .3s;
			.spoiler-open & {
				transform: rotate(180deg);
			}

		}
	}
	
	&__list {
		padding-top: 20px;
		@media(max-width:600px){
			padding-top: 5px;
		}
	}

	&__item {
		&:not(:last-child){
			margin-bottom: 15px;
			@media(max-width:$mobile){
				margin-bottom: 5px;
			}
		}
		
		@media(any-hover:hover){
			&:hover .main-footer__link{
				text-decoration: underline;
			}
		}
	}

	&__link {
		@extend .main-footer__link;
	}
}


.footer {

	// .footer__copy

	&__copy {
		text-align: center;
	}
}
