@import url('reset.css');

/* HTML ================================================================= */
body{
	height: 100%;
	color: rgb(255, 255, 255);
	background-color: rgb(3, 3, 3);
}
.wrapper{
	min-height: 100%;
	overflow: clip;
}
[class*="__container"] {
	 max-width: 1410px;
	 margin: 0 auto;
	 padding: 0px 10px;
}
span{
	font-weight: 800;
}
/* PAGE =============================================================================== */
.page {
	padding-top: 400px;
}
.page__main-block {
}
.page__welcome {
}
.page__features {
}
.page__interact {
}
.page__rules {
}

/* HEADER =========================================================================== */
.header {
	min-height: 70px;
	padding: 25px 0px;
	font-size: 18px;
	letter-spacing: 1.2px;	
	margin-bottom: 220px;
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: black;
}
.header__container {
}
.header__logo,
.header__btn-city,
.header__list,
.header__item,
.header__link,
.header__catalogue-city,
.header__catalogue-item 
{
	display: inline-block;
	vertical-align: middle;
}
.header__logo {
	margin-right: 80px;
	transition: all .8s ease-in-out;
	animation-name: approach;
	animation-duration: 1s;
	animation-delay: 0.1s;
}
.header__logo:hover img{
	transform: scale(0.99);
}
.header__btn-city {
	display: inline-block;
	padding: 13px 30px 13px 15px;
	transition: all .2s ease-in;
	border: 1px solid rgb(47, 163, 0);
	position: relative;
	animation-name: approach;
	animation-duration: 1s;
	animation-delay: 0.2s;
}
.header__btn-city::after{
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	top: 15px;
	left: 90px;
	background: url(../img/downarrow.ico) 0 0 / contain no-repeat;
}
.header__btn-city::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	right: -1px;
	top: -1px;
	background: linear-gradient(110deg, transparent, 80%, rgb(3, 3, 3));
}
.header__btn-city:hover::before{
	background: none;
}
.header__list {
}
.header__item {
	animation-name: approach;
	animation-timing-function: ease-in-out;
}
.header__item:nth-child(1){
	animation-duration: 0.4s;
}
.header__item:nth-child(2){
	animation-duration: 0.6s
}
.header__item:nth-child(3){
	animation-duration: 0.8s
}
.header__item:nth-child(4){
	animation-duration: 1s
}
.header__item:nth-child(5){
	animation-duration: 1.2s
}
.header__item:nth-child(5) .header__link{
	position: relative;
	padding: 13px 17px;
	transition: all .2s ease-in;
	border: 1px solid rgb(47, 163, 0);
}
.header__item:nth-child(5) .header__link::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	right: -1px;
	top: -1px;
	background: linear-gradient(110deg, transparent, 80%, rgb(3, 3, 3));
}
.header__item:nth-child(5):hover  .header__link::before{
	background: none;
}
.header__item:not(:last-child){
	margin-right: 35px;
}
.header__link {
	
}
.header__item:not(:last-child) .header__link::after{
	content: "";
	position: relative;
	left: 50%;
	display: block;
	margin-top: 5px;
	background-color: rgb(17, 189, 17);
	height: 2px;
	width: 0;
	transition: all .5s ease-in-out;
	border-radius: 10%;
}
.header__item:not(:last-child):hover  .header__link::after{
	width: 100%;
	left: 0;
}
.header__catalogue-item {
	position: relative;
	padding-bottom: 5px;
}
.header__catalogue-item:hover .header__sub-list{
	visibility: visible;
	animation-name: approach-two;
	animation-duration: 0.6s;
}
.header__sub-list {
	background-color: #fff;
	color: black;
	position: absolute;
	padding: 15px;
	visibility: hidden;
}
.header__sub-item {
}
.header__sub-item::after{
	content: "";
	position: relative;
	left: 50%;
	display: block;
	margin-top: 5px;
	background-color: green;
	height: 2px;
	width: 0;
	transition: all .5s ease-in-out;
}
.header__sub-item:hover::after{
	width: 100%;
	left: 0;
}
.header__sub-item:not(:last-child){
	margin-bottom: 9px;
}
.header__sub-link {
}
.header__catalogue-city {
	margin-right: 210px;
}
/* MAIN-BLOCK========================================================================= */
.main-block {
	padding: 20px 0px;
	margin-bottom: 400px;
}
.main-block__container {
}
.main-block__body {
	position: relative;
}
.main-block__body::after{
	content: "";
	position: absolute;
	top: -190px;
	left: 270px;
	background: url(../img/comet.svg);
	width: 169px;
	height: 107px;
}
.main-block__check {
	position: relative;
}
.main-block__check>*{
	margin-bottom: 10px;
}
.main-block__check::before{
	content: "";
	position: absolute;
	top: -310px;
	left: 560px;
	background: url(../img/sphereOrbitImage-f751dd30b3e1fd52022c2d720ca9cc9f.png);
	width: 970px;
	height: 940px;
	animation-name: approach-three;
	animation-duration: 1.8s;
}
.check {
	max-width: 700px;
}
.book{
	display: inline-block;
	padding: 15px 60px;
	background: rgb(47, 163, 0);
	font-size: 26px;
	transition: box-shadow 0.5s ease;
}
.book:hover{
	box-shadow: 2px -4px 12px #08ad29;
}
h1{
	font-size: 49px;
	letter-spacing: 1.2px;
	line-height: 1.2;
}
h1, .check__btn {
	animation-name: approach;
	animation-duration: 1.8s;
	
}
.main-block__check>*:last-child{
	margin-bottom: 0px;
}
/* WELCOME============================================================== */
.welcome {
	padding: 20px 0px;
	margin-bottom: 100px;
}
.welcome__container {
}
.welcome__body {
	font-size: 0;
	position: relative;
	z-index: 2;
}
.welcome__img {
	display: inline-block;
	vertical-align: top;
	animation-name: approach;
	animation-duration: 2.2s;
	max-width: 782px;
	height: 730px;
}
.welcome__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.welcome__description {
	display: inline-block;
	max-width: 600px;
	animation-name: approach;
	animation-duration: 2.2s;
	position: relative;
}
.welcome__description::before{
	content: "";
	position: absolute;
	top: -90px;
	left: 430px;
	background: url(../img/comet.svg);
	width: 169px;
	height: 107px;
}
.welcome__description>*{
	margin-bottom: 10px;
}
.welcome__description h2{
	font-size: 38px;
	margin-bottom: 30px;
	line-height: 1.7;
}
.welcome__description h3{
	font-size: 27px;
	margin-bottom: 25px;
	color: #08ad29;
	line-height: 1.7;
}
.welcome__description p{
	line-height: 1.7;
	font-size: 22px;
}
.welcome__description>h3+p{
	margin-bottom: 20px;
}
.welcome__link {
	display: inline-block;
	font-size: 22px;
	position: relative;
	margin-bottom: 10px;
	transition: all .6s ease-out;
	margin-right: 80px;
}
.welcome__link::after{
	content: "";
	position: absolute;
	top: 3px;
	left: 95px;
	width: 15px;
	height: 15px;
	background: url(../img/downarrow.ico) 0 0 / contain no-repeat;
	transition: all .6s ease-out;
}
.welcome__link:hover{
	color: green;
}
.welcome__link:hover::after{
	transform: scale(1.3);
}
#hidden{
	visibility: hidden;
}
#hidden:target{
	visibility: visible;
}
.welcome__hide{
	font-size: 23px;
	display: inline-block;
	position: relative;
	transition: all .6s ease-out;
}
.welcome__hide::after{
	content: "";
	position: absolute;
	top: 3px;
	left: 65px;
	width: 15px;
	height: 15px;
	background: url(../img/downarrow.ico) 0 0 / contain no-repeat;
	transition: all .6s ease-out;
}
.welcome__hide:hover{
	color: green;
}
.welcome__hide:hover::after{
	transform: scale(1.3);
	transform: rotate(180deg);
}
#hid:target{
	visibility: hidden;
}
.welcome__btn {
	display: inline-block;
}
.welcome__description>*:last-child{
	margin-bottom: 0;
}
/* FEATURES======================================================================== */
.features {
	padding: 20px 0px;
	margin-bottom: 350px;
}
.features__container {
}
.features__body {
}
.features__body h2{
	text-align: center;
	font-size: 39px;
	margin-bottom: 140px;
	position: relative;
	animation-name: approach-top;
	animation-duration: 1.8s;
}
.features__body h2::after{
	position: absolute;
	content: "";
	background: url(../img/features/grid.svg);
	top: -510px;
	right: 550px;
	width: 430px;
	height: 430px;
}
.features__row {
	position: relative;
}
.features__row::after{
	content: "";
	position: absolute;
	top: -120px;
	left: 230px;
	background: url(../img/comet.svg);
	width: 169px;
	height: 107px;
}
.features__item {
}
.item-features {
	max-width: 600px;
}
.item-features>*{
	margin-bottom: 10px;
}
.item-features:nth-child(1){
	margin-right: 140px;
	animation-name: approach;
	animation-duration: 2.8s;
	position: relative;
}
.item-features:nth-child(1)::after{
	position: absolute;
	content: "";
	background: url(../img/lefthand.png);
	top: 180px;
	left: -200px;
	width: 480px;
	height: 460px;
	animation-name: approach;
	animation-duration: 3s;
}
.item-features:nth-child(2){
	animation-name: approach-three;
	animation-duration: 2.8s;
	position: relative;
}
.item-features:nth-child(2)::after{
	position: absolute;
	content: "";
	background: url(../img/righthand.png);
	top: 180px;
	left: 300px;
	width: 480px;
	height: 460px;
	animation-name: approach-three;
	animation-duration: 3s;
}
.item-features:not(:last-child){
	display: inline-block;
	vertical-align: top;
}
.item-features:nth-child(3){
	position: relative;
	top: 40px;
	left: 390px;
	animation-name: approach-bottom;
	animation-duration: 2.8s;
}
.item-features:nth-child(3)::after{
	position: absolute;
	content: "";
	background: url(../img/backpng.png);
	width: 480px;
	height: 250px;
	top: -360px;
	left: 900px;
}
.item-features h4{
	font-size: 26px;
	margin-bottom: 20px;
}
.item-features__img {
	height: 163px;
}
.item-features__img img{
	width: 100%;
	height: 100%;
}
.item-features__img--inline,
.item-features__text--inline{
	display: inline-block;
	vertical-align: top;
}
.item-features__text--inline:nth-child(1){
	vertical-align: middle;
}
.item-features__text {
	max-width: 400px;
}
.item-features__text>*{
	margin-bottom: 10px;
}
.item-features__text p{
	font-size: 22px;
	line-height: 1.3;
}
.item-features>*:last-child{
	margin-bottom: 0;
}
.item-features__text>*:last-child{
	margin-bottom: 0;
}
/* INTERACT ============================================================================== */
.interact {
	padding: 20px 0px;
	margin-bottom: 150px;
}
.interact__container {
}
.interact__body {
	font-size: 0;
	position: relative;
}
.interact__body::before{
	position: absolute;
	content: "";
	top: -120px;
	left: 570px;
	background: url(../img/comet.svg);
	width: 169px;
	height: 107px;
}
.interact__text {
	margin-top: 250px;
	font-size: 35px;
	line-height: 1.3;
	max-width: 580px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 150px;
	position: relative;
	z-index: 2;
	animation-name: approach;
	animation-duration: 3.9s;
}
.interact__text::after{
	position: absolute;
	content: "";
	background: url(../img/features/grid.svg);
	width: 480px;
	height: 480px;
	top: 90px;
	left: -90px;
}
.interact__phone-model {
	border: 1px solid white;
	padding: 20px 100px 550px 100px;
	max-width: 450px;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	background: url(../img/backpng.png) 0 150px / contain no-repeat;
	box-shadow: 2px -4px 12px white;
	animation-name: approach-three;
	animation-duration: 3.9s;
}
.interact__phone-model>*{
	margin-bottom: 25px;
}
.interact__phone-model > h5, #number{
	font-size: 28px;
	text-align: center;
}
.interact__phone-model::after {
	content: "";
	position: absolute;
	top: 540px;
	left: 175px;
	background: url(../img/phone.png);
	width: 64px;
	height: 64px;
	animation-name: phone;
	animation-duration: 2s;
	transition: all .4s ease-in-out;
	animation-iteration-count:infinite;
	animation-direction: alternate;
	animation-delay: 5s;
}
.right {
	display: block;
	text-align: right;
}
.interact__phone-model>*:last-child{
	margin-bottom: 0;
}
/* RULES ====================================================================== */
.rules {
	padding: 200px 0px 60px 0px;
	position: relative;
	background: url(../img/rules_back.jpg) center bottom / 100% no-repeat;
}
.rules::after{
	 content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background: linear-gradient(rgb(3, 3, 3), transparent, rgba(3, 3, 3, 0.4));
}
.rules__container {
}
.rules__body {
}
.rules__body h2{
	text-align: center;
	font-size: 41px;
	margin-bottom: 150px;
	animation-name: approach;
	animation-duration: 3.6s;
}
.rules__row {
	font-size: 0;
}
.rules__card {
	max-width: 400px;
	padding: 10px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	animation-name: approach;
}
.rules__card>*{
	margin-bottom: 10px;
}
.rules__card:nth-child(1){
	animation-duration: 4s;
}
.rules__card:nth-child(2){
	animation-duration: 4.5s;
}
.rules__card:nth-child(3){
	animation-duration: 5s;
}
.rules__card:nth-child(4){
	left: 210px;
	animation-duration: 5.5s;
}
.rules__card:nth-child(5){
	left: 240px;
	animation-duration: 6s;
}
.rules__card:not(:last-child){
	margin-bottom: 100px;
	margin-right: 50px;
}
.rules__card::before,
.rules__card::after{
	content: "";
	position: absolute;
	background: url(../img/rules.svg) 0 0 / contain no-repeat;
	width: 15px;
	height: 60px;
}
.rules__card::before{
	top: -14.5px;
	left: 380px;
}
.rules__card::after{
	top: -13px;
	left: 0;
	transform: rotate(180deg);
}
.rules__card h4{
	font-size: 27px;
	text-align: center;
	margin-bottom: 55px;
}
.rules__card p{
	font-size: 22px;
	text-align: center;
	line-height: 1.2;
}
.rules__card>*:last-child{
	margin-bottom: 0;
}
/* FIXED BTN============================================================== */
.page__backface-btn {
	display: inline-block;
	padding: 10px;
	position: fixed;
	z-index: 100;
	bottom: 5%;
	right: 1%;
	animation: approach-three 6s;
}
.page__backface-body {
	position: relative;
	background: #f1f0f0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	transform-style: preserve-3d;
	transition: all .5s ease-in;
}
.backface {
}
.backface__front,
.backface__back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.backface__front {
	max-width: 50px;
	max-height: 70px;
	top: 12px;
	max-height: 52px;
	z-index: 5;
	left: 15px;
	transform: rotateY(0deg);
	backface-visibility: hidden;
}
.backface__front img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.backface__back {
	transform: rotateY(-180deg);
	color: #fff;
	backface-visibility: hidden;
	text-align: center;
	padding-top: 14px;
	font-size: 23px;
	text-transform: uppercase;
	background: #08ad29;
	border-radius: 50%;
}
.page__backface-btn:hover .page__backface-body{
	transform: rotateY(-180deg);
}
.page__backface-btn img{
	animation: call 1s ease-in-out 10s infinite alternate;
}
.page__backface-descr {
	width: 230px;
	height: 80px;
	background-color: #08ad29;
	position: relative;
	font-size: 22px;
	top: -180px;
	right: 30px;
	padding: 10px;	
	z-index: 5;
	visibility: hidden;
	opacity: 0;
	transition: all .6s ease-in-out;
}
.page__backface-descr::after{
	content: "";
	position: relative;
	top: 20px;
	left: 70px;
	width: 0;
	height: 0;
	border-top: 30px solid #08ad29;
	border-right: 30px solid transparent;
}
.descr {
}
.descr__middle,
.descr__right{
	display: block;
} 
.descr__middle {
	text-align: center;
}
.descr__right {
	text-align: right;
}
.page__backface-btn:hover .page__backface-descr{
	visibility: visible;
	opacity: 1;
}

/* FOOTER=============================================================== */
.footer {
	padding: 30px 0px;
}
.footer__container {
}
.footer__body {
	font-size: 0;
}
.footer__text {
	max-width: 470px;
	display: inline-block;
	margin-right: 20px;
}
.footer__text>h2+p{
	padding-left: 30px;
	background: url(../img/metroFooter.svg) 0px 5px / contain no-repeat;
	background-size: 25px;
	animation-name: approach;
	animation-duration: 4.8s;
}
.footer__text>*{
	margin-bottom: 10px;
}
.footer__text h2{
	font-size: 40px;
	margin-bottom: 60px;
	animation-name: approach;
	animation-duration: 4.5s;
}
.footer__text p{
	font-size: 25px;
	margin-bottom: 45px;
}
.footer__original-text{
	text-decoration: underline;
	animation-name: approach;
	animation-duration: 5s;
}
.footer__contacts {
	margin-bottom: 50px;
	animation-name: approach;
	animation-duration: 4.8s;
}
.footer__link {
	transition: all .3s ease-in;
	display: inline-block;
	font-size: 20px;
	letter-spacing: 1.5px;
}
.footer__link:not(:last-child){
	margin-bottom: 15px;
}
.footer__link:hover {
	color: green;
}
.footer__btn {
	margin-bottom: 40px;
	display: inline-block;
	animation-name: approach;
	animation-duration: 5s;
}
.footer__link-original{
	display: inline-block;
	font-size: 25px;
	animation-name: approach;
	animation-duration: 5s;
}
.footer__link-original::after{
	content: "";
	position: relative;
	display: block;
	margin-top: 5px;
	height: 2px;
	left: 50%;
	width: 0;
	background-color: green;
	transition: all .3s ease-in;
}
.footer__link-original:hover::after{
	width: 100%;
	left: 0;
}
.footer__img {
	max-width: 895px;
	max-height: 539px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	animation-name:  approach-three;
	animation-duration: 5s;
}
.footer__img::after{
	content: "";
	position: absolute;
	background: url(../img/footerLeft.png);
	top: -20px;
	left: -120px;
	width: 160px;
	height: 400px;
	animation-name: approach;
	animation-duration: 7s;
	animation: rotate 7s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.footer__img::before{
	content: "";
	position: absolute;
	background: url(../img/footerRight.png);
	top: 130px;
	left: 820px;
	width: 150px;
	height: 370px;
	animation-duration: 7s;
	animation-name: approach-three;
}
.footer__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer__text>*:last-child{
	margin-bottom: 0;
}

/* KEYFRAMES================================================================ */
@keyframes approach{
	0%{
		transform: translate(-1000%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}
/* ------------------------------------ */
@keyframes approach-two{
	0%{
		top: 175px;
		opacity:0;
	}
	10%{
		top: 160px;
		opacity:0.1;
	}
	20%{
		top: 150px;
		opacity:0.2;
	}
	30%{
		top: 140px;
		opacity:0.3;
	}
	40%{
		top: 130px;
		opacity:0.4;
	}
	50%{
		top: 120px;
		opacity:0.5;
	}
	60%{
		top: 100px;
		opacity:0.6;
	}
	70%{
		top: 80px;
		opacity:0.7;
	}
	80%{
		top: 70px;
		opacity:0.8;
	}
	90%{
		top: 60px;
		opacity:0.9;
	}
	100%{
		top: 55px;
		opacity: 1;
	}
}
/* ----------------------------------------------- */
@keyframes approach-three{
	0%{
		transform: translate(1000%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}
/* ------------------------------------------------ */
@keyframes approach-bottom{
	0%{
		transform: translate(0, 1000%);
	}
	100%{
		transform: translate(0, 0);
	}
}
/* ------------------------------------------------- */
@keyframes approach-top{
	0%{
		transform: translate(0, -4000%);
	}
	100%{
		transform: translate(0, 0);
	}
}
/* ----------------------------------------------------- */
@keyframes phone{
	0%{
		transform: translate(0, 30px) rotate(-5deg);
	}
	100%{
		transform: translate(0, -20px) rotate(40deg);
	}

}
/* ------------------------------------------------------- */
@keyframes call{
	0%{
		transform: rotate(-30deg);
	}
	
	100%{
		transform: scale(1.1) rotate(10deg);
	}

}
/* ----------------------------------------------------------- */
@keyframes rotate{
	0%{
		transform: rotate(0deg) scale(0.2);
	}
	100%{
		transform: rotate(360deg) scale(1);
	}
}
/* ---------------------------------------------------------- */

/* ========================================================================== */