@use "sass:math";
// ----------------------------------------------------------------------
@import "_reset.scss";
@import "_mixins.scss";
@import "_fonts.scss";
// VARIABLES=====================================================================================
$mainFont:"Inter";
$alternativeFont:"Poppins";
$backColorP:#6B77E5;
$backColorG:#40DDB6;
$titleSize:40px;
$colorDark:#37393F;
$colorGrey:#7D7D7D;
$tablet:toEm(991.98);
$mobileL:toEm(767.98);
$mobileS:toEm(479.98);
$burger:toEm(975);
// ===================================================================================================
body{
	font-family: $mainFont;
	@media(max-width:$burger){
		.menu-open &{
			overflow: hidden;
		}
	}	
}
.wrapper {
	 min-height: 100%;
	 display: flex;
	 flex-direction: column;
	 overflow: clip;
}
.page{
	flex-grow: 1;
}
[class*="__container"]{
	max-width: toRem(1250);
	margin: 0 auto;
	padding: toRem(0) toRem(15);
}
.head-style{
	>*{
		margin-bottom: toRem(10);
	}
	>*:last-child{
		margin-bottom: toRem(0);
	}
	& div{
		@include sub-title;
		color: $colorDark;
	}
	& h2{
		@include title;
		color: $colorDark;
		font-size: clamp(toRem(26), 5vw, toRem(40));
	}
}
// HEADER =====================================================================================

.header {

	// .header__top

	&__top {
		background-color: $colorDark;
		color: #fff;
		font-size: toRem(14);
		font-weight: 400;
		@media(max-width:$burger){
			display: none;
		}
	}
}
.top-header {

	// .top-header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(10);
		padding-top: toRem(22);
		padding-bottom: toRem(22);
		@media(max-width:$tablet){
			padding-top: toRem(15);
			padding-bottom: toRem(15);
		}
	}

	// .top-header__contacts

	&__contacts {
		display: flex;
		column-gap: toRem(42);
		row-gap: toRem(15);
		flex-wrap: wrap;
		@media(max-width:$tablet){
			flex-direction: column;
			
		}
	}

	// .top-header__location

	&__location {
		display: flex;
		align-items: center;
		gap: toRem(10);
		& img{
			flex-shrink: 0;
			height: toRem(22);
		}
	}

	// .top-header__mail

	&__mail {
		@extend .top-header__location;
		transition: all .3s;

		@media(any-hover:hover){
			&:hover{
				color: $backColorG;
			}
		}
	}

	// .top-header__other

	&__other {
		display: flex;
		gap: toRem(50);
		row-gap: toRem(15);
		align-items: center;
		flex-wrap: wrap;
		@media(max-width:$tablet){
			flex-direction: column;
			
		}
	}

	// .top-header__schedule

	&__schedule {
		display: flex;
		gap: toRem(5);
		align-items: center;
		& img{
			flex-shrink: 0;
			height: toRem(22);
		}
	}

	// .top-header__socials

	&__socials {
		display: flex;
		gap: toRem(16);
	}

	// .top-header__social

	&__social {
		transition: all .3s;
		width: toRem(17);
    	height: toRem(17);
		
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 1 / 1;
		}
		@media(any-hover:hover){
			&:hover{
				transform: scale(1.1);
			}
		}
		
	}
}
.header {
	border-bottom: 1px solid black;

	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(10);
		padding-top: toRem(33);
		padding-bottom: toRem(33);
		@media(max-width:$burger){
			padding-top: toRem(10);
			padding-bottom: toRem(10);
			min-height: toRem(65);
		}
		@media(max-width:toEm(600)){
			gap: toRem(5);
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
		
		& img{
			width: toRem(200);
			height: toRem(38);
		}
	}

	// .header__actions

	&__actions {
		display: flex;
		gap: toRem(40);
		align-items: center;
		@media(max-width:toEm(600)){
			gap: toRem(20);
		}
		
	}

	// .header__btn

	&__btn {
		@include  btn-style($backcolor:$backColorP, $padding:toRem(21) toRem(35), $fz:toRem(18));
		flex-shrink: 0;
		@extend .header__logo;
		@media(max-width:$tablet){
			padding: toRem(12) toRem(20);
		}
		@media(max-width:toEm(600)){
			font-size: toRem(16);
			padding: toRem(10) toRem(10);
		}
		@media(max-width:$mobileS){
			display: none;
		}
		@media(any-hover:hover){
					&:hover{
						box-shadow: inset 0 toRem(-100) 0 0 #32129b;
					}
				}
	}
}
.menu {

	// .menu__body

	&__body {
		@media(max-width:$burger){
			position: fixed;
			bottom: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background: linear-gradient(0deg, rgba(36,149,107,1) 24%, rgba(11,175,24,1) 51%, rgba(117,175,80,1) 78%);
			transition: all .3s;
			padding: toRem(80) toRem(20) toRem(50) toRem(20);
			z-index: 3;
			& .menu__content-burger{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				>*{
					margin-bottom: toRem(25);
				}
				>*:last-child{
					margin-bottom: toRem(0);
				}
			}
		}
		.menu-open & {
			bottom: 0;
		}
		&::before{
			content: "";
			position: fixed;
			width: 100%;
			height: toRem(65);
			top: -100%;
			left: 0;
			z-index: 2;
			background: linear-gradient(0deg, rgba(111,204,170,1) 34%, rgb(195, 242, 180) 62%);
			border-bottom: 1px solid black;
		}
		.menu-open &::before{
			top: 0;
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(30);
		row-gap: toRem(15);
		@media(max-width:$burger){
			flex-direction: column;
			text-align: center;
			row-gap: toRem(30);
			margin-bottom: toRem(30);
		}
	}

	// .menu__item

	&__item {
		@media(any-hover:hover){
					&:hover .menu__link{
						text-decoration: underline;
					}
				}
			
		// .menu__item--icon

		&--icon {
			position: relative;
			@media(min-width:$burger){
				&:hover .menu__link::after{
					transform: rotate(180deg);
				}
			}
		}
	}

	// .menu__link

	&__link {
		font-size: toRem(16);
		.menu__item--icon &{
			display: flex;
			align-items: center;
			gap: toRem(5);
			@media(max-width:$burger){
				display: block;
			}
			
		}
		.menu__item--icon &::after{
			content: "";
			background: url(../img/header/vector.svg) 0 0 no-repeat;
			width: toRem(10);
			height: toRem(8);
			flex: 0 0 toRem(10);
			transition: all .3s;
		}
		@media(max-width:$burger){
			font-size: toRem(20);
			.sub-open  &::after{
				transform: rotate(180deg);
			}
		}
		
	}
}
.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	transform: translate(toRem(0), -10%);
	padding-top: toRem(10);
	@media(min-width:$burger){
		.menu__item--icon:hover &{
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translate(toRem(0),toRem(0));
			z-index: 2;
		}
	}
	@media(max-width:$burger){
		width: 100%;
		.sub-open &{
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translate(toRem(0),toRem(0));
			position: relative;
		}
	}

	.sub-menu {

		// .sub-menu__list

		&__list {
			background-color: $backColorG;
			width: toRem(160);
			padding: toRem(15);
			border-radius: toRem(10);
			@media(max-width:$burger){
				width: 100%;
			}
		}

		// .sub-menu__item

		&__item {
			&:not(:last-child){
				margin-bottom: toRem(10);
			}
			@media(any-hover:hover){
						&:hover .sub-menu__link{
							transform: translateX(10%);
						}
					}
			
		}

		// .sub-menu__link

		&__link {
			color: #fff;
			transition: all .3s;
			font-size: toRem(18);
			&:active{
				transform: translateX(-12%);
			}
		}
		
}

}
.burger-menu {
	& .top-header__container{
		display: none;
		@media(max-width:$burger){
			display: block;
		}
	}
	@media(max-width:$burger){
		display: flex;
		position: relative;
		z-index: 5;
		height: toRem(42);
		width: toRem(45);
		background-color: $backColorP;
		&::after,
		&::before,
		& span {
			content: "";
			position: absolute;
			transition: all .3s;
			height: toRem(2);
			width: 75%;
			left: toRem(6);
		}
		&::after{
			top: toRem(13);
			background: linear-gradient(165deg, rgba(227,235,235,1) 26%, rgb(13, 65, 7) 86%);
		}
		&::before{
			bottom: toRem(13);
			background: linear-gradient(165deg, rgba(227,235,235,1) 80%, rgb(13, 65, 7) 86%);
		}
		& span{
			background: linear-gradient(165deg, rgba(227,235,235,1) 56%, rgb(13, 65, 7) 86%);
			top: 50%;
			margin-top: toRem(-1);
		}
		.menu-open &::after{
			transform: rotate(45deg);
			top: 50%;
			margin-top: toRem(-1);
			background: linear-gradient(165deg, rgb(13, 65, 7) 40%, rgba(227,235,235,1) 86%);
		}
		.menu-open &::before{
			transform: rotate(-45deg);
			bottom: 50%;
			margin-bottom: toRem(-1);
			background: linear-gradient(165deg, rgb(13, 65, 7) 76%, rgba(227,235,235,1) 80%);
		}
		.menu-open & span{
			transform: scale(0);
		}
	}
	@media(max-width:600px){
		height: toRem(36);
		width: toRem(35);
		&::after,
		&::before,
		& span {
			width: 65%;
			left: toRem(6);
		}
		&::after{
			top: toRem(10);
		}
		&::before{
			bottom: toRem(10);
		}
	}
}
.menu {

	// .menu__contacts

	&__contacts,
	&__other {
		display: none;
		font-size: toRem(20);
		@media(max-width:$burger){
			display: block;
			& >*{
				margin-bottom: toRem(25);
			}
			& >*:last-child{
				margin-bottom: toRem(0);
			}
		}
	}

	// .menu__location

	&__location {
	}

	// .menu__mail

	&__mail {
	}

	// .menu__other

	&__other {
		
	}

	// .menu__schedule

	&__schedule {
		
	}

	// .menu__socials

	&__socials {
		
		
	}

	// .menu__social

	&__social {
		& img{
			width: toRem(30);
			height: toRem(30);
		}
		&:not(:last-child){
			margin-right: toRem(15);
		}
	}
}
.menu {

	// .menu__btn

	&__btn {
		@include  btn-style($backcolor:rgb(31, 66, 31), $padding:toRem(10) toRem(15), $fz:toRem(17));
		display: none;
		@media(max-width:$mobileS){
			display: block;
			margin-bottom: toRem(15);
		}
	}
}
// ==============================================================================================

.page {

	// .page__hero

	&__hero {
		position: relative;
		display: flex;
		min-height: calc(100svh - toRem(195));
		margin-bottom: toRem(140);
		@media(max-width:toEm(1024)){
			margin-bottom: toRem(90);
		}
		@media(max-width:$mobileL){
			margin-bottom: toRem(50);
		}
		@media(max-width:$mobileS){
			margin-bottom: toRem(30);
		}
	}
}
.hero {

	// .hero__content

	&__content {
		position: relative;
		z-index: 2;
		backdrop-filter: blur(9.5px);
		background-color: rgba(55, 57, 63, 0.9);
		display: flex;
		flex: 0 0 calc(828 * 100% / 1920);
		align-items: center;
		justify-content: center;
		@media(max-width:toEm(680)){
			flex: 0 0 100%;
		}
	}

	// .hero__body

	&__body {
		max-width: toRem(615);
		padding:toRem(15);
		>*{
			margin-bottom: toRem(10);
		}
		>*:last-child{
			margin-bottom: toRem(0);
		}
		& h1{
			color: #FFF;
			font-family: $alternativeFont;
			// font-size: toRem(60);
			font-size: clamp(toRem(28), 3vw, toRem(60));
			font-weight: 700;
			line-height: 1.1;
			margin-bottom: toRem(20);
			& span{
				color: #40DDB6;
				font-family: $alternativeFont;
				font-size: clamp(toRem(28), 3vw, toRem(60));
				font-weight: 700;
				line-height: 1.1;
			}
		}
		& p{
			color: #B9B9B9;
			font-family: $mainFont;
			font-size: clamp(toRem(16), 3vw, toRem(18));
			font-weight: 500;
			line-height: 1.46;
			&:not(:last-child){
				margin-bottom: toRem(35)
			}
		}
	}

	// .hero__sub

	&__sub {
		@include sub-title;
	}

	// .hero__buttons

	&__buttons {
		display: flex;
		column-gap: toRem(30);
		row-gap: toRem(20);
		align-items: center;
		@media(max-width:toEm(1024)){
			column-gap: toRem(20);
		}
		@media(max-width:$tablet){
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .hero__link

	&__link {
		@include btn-style($backcolor:$backColorG, $padding:toRem(21) toRem(35), $fz:toRem(18), $color:$colorDark);
		color: $colorDark;
		padding: toRem(21) toRem(27);
		flex-shrink: 0;
		@media(max-width:$tablet){
			padding: toRem(12) toRem(20);
		}
		@media(max-width:toEm(600)){
			font-size: toRem(16);
			padding: toRem(10) toRem(10);
		}
		@media(max-width:$mobileS){
			width: 100%;
		}
		@media(any-hover:hover){
					&:hover{
						box-shadow: inset 0 toRem(-100) 0 0 #028648;
					}
				}
	}

	// .hero__btn-video

	&__btn-video {
		color: #FFF;
		font-family: $mainFont;
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		position: relative;
		display: flex;
		align-items: center;
		column-gap: toRem(10);
		transition: all .3s;
		@media(max-width:$mobileL){
			font-size: toRem(16);
		}
		@media(max-width:$mobileS){
			align-self: center;
		}
		& span{
			position: relative;
			@media(any-hover:hover){
				&:hover{
					color: #028648;
				}
				
			}
		}
		&::before{
			content: "";
			cursor: pointer;
			background: url(../img/hero/btn_play.svg) 0 0 no-repeat;
			width: toRem(60);
			height: toRem(60);
			transition: all .3s;
			flex: 0 0 toRem(60);
		}
		& span::after{
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			height: toRem(1);
			width: 100%;
			background-color: #fff;
		}
			@media(any-hover:hover){
				&:hover::before{
					transform: scale(1.1);
				}
			}
	}

	// .hero__img

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
// ===========================================================================================
.page {

	// .page__wecare

	&__wecare {
		margin-bottom: toRem(100);
		@media(max-width:$tablet){
			margin-bottom: toRem(70);
		}
		@media(max-width:$mobileL){
			margin-bottom: toRem(50);
		}
	}
}
.wecare {
	&__container{
		display: flex;
		column-gap: toRem(70);
		@media(max-width:toEm(1024)){
			column-gap: toRem(30);
		}
		@media(max-width:$tablet){
			flex-direction: column;
			row-gap: toRem(20);
		}
	}

	// .wecare__left

	&__left {
		background: #F4F4F4;
		flex: 0 0 38%;
	}

	// .wecare__right

	&__right {
	
	}
}
.left-wecare {
	padding: toRem(0) toRem(52) toRem(150) toRem(0);
	>*{
		margin-bottom: toRem(10);
	}
	>*:last-child{
		margin-bottom: toRem(0);
	}
	@media(max-width:$tablet){
		padding: toRem(0) toRem(30) toRem(20) toRem(0);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: toRem(20);
	}
	@media(max-width:toEm(630)){
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
		padding: toRem(0) toRem(0) toRem(15);
		text-align: center;
	}

	// .left-wecare__img

	&__img {
		margin-bottom: toRem(20);
		& img{
			width: 100%;
			height: 100%;
			aspect-ratio: 405 / 452;
			object-fit: cover;
		}
	}

	// .left-wecare__content

	&__content {
		@media(max-width:$tablet){
			align-self: center;
		}
		@media(max-width:toEm(630)){
			padding: toRem(0) toRem(10);
		}
		>*{
			margin-bottom: toRem(15);
		}
		>*:last-child{
			margin-bottom: toRem(0);
		}
		& p{
			color: $colorGrey;
			font-family: $mainFont;
			font-size: toRem(18);
			font-weight: 400;
			line-height: 1.46;
		}
	}

	// .left-wecare__title

	&__title {
		color: #37393F;
		font-family: $alternativeFont;
		font-size: toRem(30);
		font-weight: 600;
		line-height: 1.21;
		@media(max-width:$mobileL){
			font-size: toRem(26);
		}
	}

	// .left-wecare__link

	&__link {
		color: $colorDark;
		font-family: $mainFont;
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		border-bottom: toRem(2) solid $colorDark;
		transition: all .3s;
		@media(any-hover:hover){
					&:hover{
						color: $backColorP;
						border-bottom: toRem(2) solid $backColorP;
					}
				}
	}
}
.right-wecare {
	>*{
		margin-bottom: toRem(10);
	}
	>*:last-child{
		margin-bottom: toRem(0);
	}

	// .right-wecare__container

	&__container {
	}

	// .right-wecare__head

	&__head {
		margin-bottom: toRem(20);
		@media(max-width:$mobileS){
			margin-bottom: toRem(10);
		}
	}

	// .right-wecare__sub

	&__sub {
	}

	// .right-wecare__title

	&__title {
	}

	// .right-wecare__content

	&__content {
		margin-bottom: toRem(20);

		& p{
			color: $colorGrey;
			font-family: $mainFont;
			font-size: toRem(18);
			font-weight: 400;
			line-height: 1.46;
			&:not(:last-child){
				margin-bottom: toRem(15);
			}
		}
		
	}

	// .right-wecare__list

	&__list {
		margin-bottom: toRem(43);
		@media(max-width:$mobileL){
			margin-bottom: toRem(30);
		}
	}

	// .right-wecare__item

	&__item {
		color: $colorDark;
		font-family: $alternativeFont;
		font-size: clamp(toRem(17), 2vw, toRem(20));
		font-weight: 400;
		display: flex;
		align-items: center;
		gap: toRem(8);
		& img{
			width: toEm(27);
			height: toEm(27);
			flex: 0 0 toEm(27);
			border-radius: 50%;
		}
		&:not(:last-child){
			margin-bottom: toRem(23);
		}
	}

	// .right-wecare__achievements

	&__achievements {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(15);
		margin: 0 toRem(-10);
		margin-bottom: toRem(37);
		@media(max-width:toEm(570)){
			flex-direction: column;
			margin-bottom: toRem(20);
		}
		
	}

	// .right-wecare__link

	&__link {
		@include btn-style($backcolor:$backColorP, $padding:toRem(21) toRem(27), $fz:toRem(18), $color:#fff);
		// padding: toRem(21) toRem(27);



		@media(max-width:$mobileS){
			width: 100%;
			font-size: 1rem;
    		padding: 0.625rem 0.625rem;
		}
		@media(any-hover:hover){
			&:hover{
				box-shadow: inset 0 toRem(-100) 0 0 #32129b;
			}
		}
	}
}
.achievements {

	// .achievements__experience

	&__experience {
		padding: 0 toRem(10);
		flex: 0 0 50%;
		
	}

	&__item{
		padding: toRem(31) toRem(32);
		border: toRem(1) solid #E3E3E3;
		display: flex;
		gap: toRem(19);
		align-items: flex-start;
		font-size: clamp(toRem(17), 2vw, toRem(20));
		@media(max-width:toEm(1100)){
			padding: toRem(20) toRem(20);
		}
		@media(max-width:toEm(570)){
			padding: toRem(10) toRem(10);
		}
	}
	// .achievements__icon

	&__icon {
		flex: 0 0 toRem(33);
		aspect-ratio: 1 / 1;
		& img{
			// width: toEm(33);
			// height: toEm(33);
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .achievements__text

	&__text {
		& p{
			color: $colorGrey;
			font-family: $mainFont;
			font-size: toRem(16);
			font-weight: 400;
			line-height: 1.35;
		}
	}

	// .achievements__label

	&__label {
		color: $colorDark;
		font-family: $alternativeFont;
		font-weight: 600;
		&:not(:last-child){
			margin-bottom: toRem(10);
		}
	}

	// .achievements__winner

	&__winner {
		padding: 0 toRem(10);
		flex: 0 0 50%;
	}
}
// ===========================================================================================
.page {

	// .page__brands

	&__brands {
		margin-bottom: toRem(80);
		@media(max-width:$mobileL){
			margin-bottom: toRem(60);
		}
	}
}
.brands {

	// .brands__container

	&__container {
		display: flex;
		justify-content: space-between;
		gap: toRem(10);
		align-items: center;
		flex-wrap: wrap;
		@media(max-width:toEm(630)){
			justify-content: center;
		}
	}

	// .brands__item

	&__item {
		flex: 0 1 auto;
		max-width: toRem(171);
		& img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			@media(max-width:toEm(630)){
				width: 75%;
				height: 75%;
			}
		}
	}
}

// ================================================================================================
.page {

	// .page__expertise

	&__expertise {
		margin-bottom: toRem(130);
		@media(max-width:toEm(1024)){
			margin-bottom: toRem(100);
		}
		@media(max-width:$mobileL){
			margin-bottom: toRem(70);
		}
		@media(max-width:$mobileS){
			margin-bottom: toRem(50);
		}
	}
}
.expertise {

	// .expertise__container

	&__container {
	}

	// .expertise__head

	&__head {
		> div{
			display: flex;
			justify-content: center;
		}
		margin-bottom: toRem(40);
		text-align: center;
		@media(max-width:$mobileS){
			margin-bottom: toRem(25);
		}
	}

	// .expertise__row

	&__row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(300),1fr));
		column-gap: toRem(32);
		row-gap: toRem(27);
	}

	// .expertise__card

	&__card {
	}

	// .expertise__item

	&__item {
		padding: toRem(30);
		background: #F4F4F4;
		display: flex;
		min-height: 100%;
		justify-content: space-between;
		gap: toRem(10);
		@media(max-width:toEm(661.98)){
			flex-direction: column-reverse;
			align-items: center;
			text-align: center;
			row-gap: toRem(15);
			padding: toRem(15);
		}
	}

	// .expertise__btn

	&__btn {
		@include btn-style;
		font-size: toRem(25);
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		@media(any-hover:hover){
			&:hover{
				box-shadow: inset 0 toRem(-200) 0 0 #32129b;
			}
		}
		@media(max-width:$mobileL){
			font-size: toRem(22);
		}
		@media(max-width:$mobileS){
			font-size: toRem(19);
		}
	}
}

.item-expertise {
	font-size: clamp(toRem(20), 2vw, toRem(25));

	// .item-expertise__content

	&__content {
		max-width: toRem(188);
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		@media(max-width:toEm(661.98)){
			max-width: 100%;
			
		}
	}

	// .item-expertise__label

	&__label {
		color: $colorDark;
		font-family: $alternativeFont;
		font-weight: 600;
		line-height: 1.27;
		flex-grow: 1;
		transition: all .3s;
		@media(any-hover:hover){
					&:hover{
						color: $backColorP;
					}
				}
		&:not(:last-child){
			margin-bottom: toRem(27);
		}
	}

	// .item-expertise__link

	&__link {
		color: $backColorP;
		font-family: $mainFont;
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		position: relative;
		align-self: flex-start;
		&::after{
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			height: 2px;
			width: 0;
			background-color: $backColorG;
			transition: all .3s;
		}
		@media(any-hover:hover){
					&:hover{
						&::after{
							width: 100%;
						}
					}
				}
		@media(max-width:toEm(661.98)){
			align-self: center;
		}
	}

	// .item-expertise__icon

	&__icon {
		
		& img{
			width: toEm(46);
			height: toEm(46);
			border-radius: 50%;
		}
	}
}
// ==============================================================================================

.page {

	// .page__provide

	&__provide {
		background-color: $colorDark;
		position: relative;
		margin-bottom: toRem(70);
		@media(max-width:toEm(1230)){
			&::before{
				content: "";
				background: url(../img/weprovide/img.webp) no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.3;
				background-attachment: fixed;
				background-size: cover;
			}
		}
		@media(max-width:$mobileL){
			margin-bottom: toRem(40);
		}
	}
}
.provide {

	// .provide__container

	&__container {
		display: flex;
		@media(max-width:toEm(1230)){
			position: relative;
			z-index: 2;
		}
	
	}

	// .provide__body

	&__body {
		color: #fff;
		flex: 0 0 55%;
		max-width: toRem(650);
		padding: toRem(136) toRem(0);
		@media(max-width:toEm(1230)){
			flex: 0 0 100%;
			max-width: 100%;
		}
		@media(max-width:$mobileL){
			padding: toRem(80) toRem(0);
		}
		@media(max-width:$mobileS){
			padding: toRem(50) toRem(0);
		}
	}

	// .provide__head

	&__head {
		& div, h2{
			color: #fff;
		}
		margin-bottom: toRem(15);
	}

	// .provide__content

	&__content {
		row-gap: toRem(36);
		display: flex;
		flex-direction: column;
		& p{
			color: #FFF;
			font-family: $mainFont;
			font-size: toRem(18);
			font-weight: 400;
			line-height: 1.46;
			@media(max-width:$mobileS){
				text-decoration: underline;
				font-weight: 500;
				letter-spacing: toRem(2);
			}
		}
	}

	// .provide__statistic

	&__statistic {
		display: flex;
		margin: 0 toRem(-7);
		row-gap: toRem(10);
		flex-wrap: wrap;
		max-width: toRem(650);
		
	}

	// .provide__points

	&__points {
	}

	// .provide__img

	&__img {
		position: absolute;
		top: 0;
		right: 0;
		width: 45%;
		height: 100%;
		object-fit: cover;
		@media(max-width:toEm(1230)){
			display: none;
		}
	}
}
.head-style {
}
.statistic {

	// .statistic__response
	
	&__response,
	&__project {
		padding: 0 toRem(7);
		flex: 0 1 50%;
		@media(max-width:toEm(630)){
			width: 100%;
			flex: 0 0 100%;
		}
	}
	

	// .statistic__item

	&__item {
		padding: toRem(27) toRem(30);
		background: #2E2F34;
	}
}
.item-statictic {
	display: flex;
	align-items: center;
	column-gap: toRem(12);

	// .item-statictic__img

	&__img {
		flex: 0 0 toRem(80);
		aspect-ratio: 1 / 1;
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	// .item-statictic__text

	&__text {
		>*{
			margin-bottom: toRem(10);
		}
		>*:last-child{
			margin-bottom: toRem(0);
		}
		& p{
			color: #FFF;
			font-family: $mainFont;
			font-size: toRem(16);
			font-weight: 400;
			line-height: 1.35;
		}
	}

	// .item-statictic__label

	&__label {
		color: #FFF;
		font-family: $alternativeFont;
		font-size: toRem(18);
		font-weight: 600;
	}
}
.points {
	display: flex;
	column-gap: toRem(37);
	row-gap: toRem(20);
	@media(max-width:$mobileS){
		flex-direction: column;
	}

	// .points__left

	&__left {
	}
}
.left-points {
	>*{
		margin-bottom: toRem(23);
	}
	>*:last-child{
		margin-bottom: toRem(0);
	}

	// .left-points__active

	&__active {
		display: flex;
		align-items: center;
		gap: toRem(10);
		font-family: $mainFont;
		font-size: toRem(20);
		font-weight: 400;
		& span{
			font-weight: 700;
		}
		
	}

	// .left-points__reviews

	&__reviews {
		@extend .left-points__active;
		
	}
	.left-points {

		// .left-points__icon

		&__icon {
			flex: 0 0 toRem(28);
			width: toRem(28);
			height: toRem(27);
		}
}

	
}
.gold{
	color: #FFB342;
}
.star{
	margin-top: 2%;
	width: toRem(17);
	height: toRem(17);
}
.points-right {
	
}
.right-points {
	@extend .left-points;
	&__quantity {
		@extend .left-points__active;
		& img{
			flex: 0 0 toRem(28);
			width: toRem(28);
			height: toRem(27);
		}
	}

	// .right-points__link

	&__link {
		color: #40DDB6;
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		border-bottom: 2px solid #40DDB6;
		transition: all .3s;
		@media(any-hover:hover){
					&:hover{
						color: #028648;
						border-bottom: 2px solid #028648;
					}
				}
	}
}

.footer {
	background-color: $colorDark;
	padding: toRem(30) toRem(0);

	// .footer__container

	&__container {
		text-align: center;
		font-size: toRem(30);
		color: #fff;
	}
}
